/installed.xml
/indra/build-*
/indra/tools/vstool/obj/
*.aps
*.suo
*.vshost.exe
/bin/
/bin-release/
/bin
/bin-release
/indra/viewer-*
/indra/newview/vivox-runtime/
/libraries/
*.pyc
*.orig
*.rej
*.bak
*~
/LICENSES/
/edited-files.txt
qtcreator-build/
